<h2 mat-dialog-title>{{title}} Employee</h2>
<mat-dialog-content class="mat-typography">
  <form class="base-dialog-form" [formGroup]="addEmployeeForm">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Id" formControlName="id">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="First name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Last name" formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Salary" formControlName="salary">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
