.wrapper {
  margin: 20px;
  .fields-wrapper{
    display: flex;
    flex-direction: row;
  }

  .button {
    width: 50px;
    height: 30px;
    padding: 0 10px;
  }
  .mats-button {
    color: darkgrey;
    cursor: pointer;
  }
}
